{% extends 'base.html.twig' %}

{% block title %}Accueil - Project San Diego{% endblock %}
{%block head %}   
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}
{% block body %}

<div class="container">
    <header>
        {# <img src="{{ asset('images/Surfy.gif') }}" alt="Logo du projet" class="logo"> #}
        <h1>Bienvenue dans Project San Diego</h1>
    </header>

    <section class="intro">
        <h2>L'univers</h2>
        <p>Project San Diego est basé sur l'univers de Fallout mais n'est pas directement lié à la franchise officielle.</p>
        <p>Les objets, batiments et nom de faction ne sont pas les memes que dans le jeu officiel.</p>
    </section>

    <section class="Explication">
        <h2>Pourquoi ?</h2>
        <p>Le projet a vu le jour après d'inombrables années a faire du RolePlay sur le Jeu Fallout 76.</p>
        <p>Le but est de recréer un univers Post-Apocalyptique plus immersif sur Arma Reforger.</p>
    </section>

    <section class="Site">
        <h2>A quoi sert ce site ?</h2>
        <br><p>Ce site sert a y présenter notre projet en plus de notre Discord. Vous pourrez y retrouver des <strong> informations importantes</strong>.</p>
        <br><p>Pour les nouveaux joueurs le site peut les aiders grace aux differentes catégories comme:</P>
        <ul>
        <li><a href="{{ path('app_faction') }}" class="btn">Factions</a></li>   
        <li><a href="{{ path('app_reglement') }}" class="btn">Règlement</a></li>
        <li><a href="{{ path('app_equipe_moderation') }}" class="btn">modération</a></li>
        </ul>   

        Une seule personne travaille et à travaillé sur le site donc si vous pensez qu'il manque d'informations ou que des informations devraient etre modifiées n'hésitez pas a faire un ticket, il se fera un plaisir de vous répondre.</p>
    </section>

    <section class="factions">
        <h2>Les Factions</h2>
        <div class="cards">
            <div class="card">
                <a href="{{ path('app_faction_show', {'slug': 'confrerie'}) }}"> {# Permet de creer un lien cliquable pour se rendre a la faction#}
                <img src="{{ asset('images/factions/Confrerie.png') }}" alt="cda">
                <h3>La Confrérie de l’Acier</h3>
                </a>
                <p>Gardiens de la technologie d’avant-guerre...</p>
            </div>
            <div class="card">
                <a href="{{ path('app_faction_show', {'slug': 'Enclave'}) }}">
                <img src="{{ asset('images/factions/enclave.png') }}" alt="Enclave">
                <h3>L’Enclave</h3>
                </a>
                <p>Les survivants du gouvernement américain...</p>
            </div>
            <div class="card">
                <a href="{{ path('app_faction_show', {'slug': 'rnc'}) }}">
                <img src="{{ asset('images/factions/Rnc.png') }}" alt="RNC">
                <h3>La République de Nouvelle Californie</h3>
                </a>
                <p>Réels batisseurs de la Nouvelle Amérique</p>
            </div>
        </div>
    </section>

    <section class="reglement">
        <h2>Le Règlement</h2>
        <p>Un ensemble de règles pour garantir une expérience de jeu respectueuse et immersive pour tous les membres de la communauté.</p>
        <a href="{{ path('app_reglement') }}" class="btn">Voir le règlement</a>
    </section>


    <section class="equipe">
        <h2>l'administration</h2>
        <p>Une équipe dévouée à maintenir l'ordre et à aider les membres de la communauté.</p>
        <a href="{{ path('app_equipe_moderation') }}" class="btn">Rencontrer l'équipe</a>
    </section>

    <section class="cmtrejoindre">
        <h2>Comment nous rejoindre ?</h2>
        <p>En cliquant sur ce bouton vous retrouverez des informations utiles avant de venir sur le serveur</p>
        <a href="{{ path('app_jouer') }}" class="btn">Voir les informations a connaitre avant de rejoindre le serveur.</a>
    </section>

    <footer>
</div>
{% endblock %}