{% extends 'base.html.twig' %}

{% block title %}Accueil - Project San Diego{% endblock %}

{% block body %}
   <link rel="stylesheet" href="{{ asset('css/home.css') }}">
<div class="container">
    <header>
        {# <img src="{{ asset('images/Surfy.gif') }}" alt="Logo du projet" class="logo"> #}
        <h1>Bienvenue dans Project San Diego</h1>
    </header>

    <section class="intro">
        <h2>L'univers</h2>
        <p>Dans les ruines de la Californie post-nucléaire, des factions luttent pour la survie...</p>
    </section>

    <section class="Explication">
        <h2>Pourquoi ?</h2>
        <p>Le projet a vu le jour après d'inombrables années a faire du RolePlay sur le Jeu Fallout 76</p>
    </section>

    <section class="Site">
        <h2>A quoi va servir ce site ?</h2>
        <p>Le site permettra de donner du contexte aux nouveaux joueurs n'ayant pas directement accès a Discord
        et de présenter les différentes factions, le règlement, ainsi que l'équipe de modération aux futurs joueurs qui tomberont sur ce site par pur hasard.
        </p>
    </section>

    <section class="factions">
        <h2>Les Factions</h2>
        <div class="cards">
            <div class="card">
            <a href="{{ path('app_faction_show', {'slug': 'confrerie'}) }}"> {# Permet de creer un lien cliquable pour se rendre a la faction#}
                <img src="{{ asset('images/factions/Confrerie.png') }}" alt="cda">
                <h3>La Confrérie de l’Acier</h3>
                </a>
                <p>Gardiens de la technologie d’avant-guerre...</p>
            </div>
            <div class="card">
                <img src="{{ asset('images/factions/enclave.png') }}" alt="Enclave">
                <h3>L’Enclave</h3>
                <p>Les survivants du gouvernement américain...</p>
            </div>
                        <div class="card">
                <img src="{{ asset('images/factions/Rnc.png') }}" alt="RNC">
                <h3>La République de Nouvelle Californie</h3>
                <p>Réels batisseurs de la Nouvelle Amérique</p>
            </div>
        </div>
    </section>

    <section class="reglement">
        <h2>Le Règlement</h2>
        <p>Un ensemble de règles pour garantir une expérience de jeu respectueuse et immersive pour tous les membres de la communauté.</p>
        <a href="{{ path('app_reglement') }}" class="btn">Voir le règlement</a>
    </section>


    <section class="equipe">
        <h2>L'Équipe de Modération</h2>
        <p>Une équipe dévouée à maintenir l'ordre et à aider les membres de la communauté.</p>
        <a href="{{ path('app_equipe_moderation') }}" class="btn">Rencontrer l'équipe</a>
    </section>

    <footer>
        <p>&copy; {{ "now"|date("Y") }} Project San Diego. Tous droits réservés.</p>

</div>
{% endblock %}