{% extends 'base.html.twig' %}

{% block title %}Factions - Project San Diego{% endblock %}

{% block body %}
   <link rel="stylesheet" href="{{ asset('css/faction.css') }}">
<h1>Factions disponibles</h1>
<div class="cards">
    {% for faction in factions %}
        <div class="card">
            <a href="{{ path('app_faction_show', {'slug': faction.slug}) }}">
                <img src="{{ asset('images/' ~ faction.image) }}" alt="{{ faction.name }}">
                <h3>{{ faction.name }}</h3>
            </a>
            <p>{{ faction.short_desc }}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}

