{% extends 'base.html.twig' %}

{% block title %}{{ faction.nom }} - Project San Diego{% endblock %}

{% block body %}
<h1>{{ faction.nom }}</h1>
<p>{{ faction.Lore }}</p>

<p><strong>Membres:</strong> {{ faction.membres }}</p>

<div class="cards">
    <img src="{{ asset('images/Factions/' ~ faction.slug ~ '.png') }}" alt="{{ faction.nom }}">
</div>

<div>
    <h2>Les membres important<h2>
<img src="{{ asset('images/Factions/' ~ faction.slug ~ '_members.png') }}" alt="{{ faction.nom }} membres importants">

</div>

<h2>Rejoindre le groupe</h2>
<p>Pour rejoindre cette faction, veuillez consulter notre serveur Discord et suivre les instructions dans le salon approprié.</p>
<a href="https://discord.gg/UMgQCRMh5B">Lien vers le discord Principal</a>

<a href="{{ path('app_faction') }}">← Retour à la liste des factions</a>
{% endblock %}
