{% extends 'base.html.twig' %}

{% block title %}{{ faction.nom }} - Project San Diego{% endblock %}

{% block body %}
<h1>{{ faction.nom }}</h1>
<p>{{ faction.Lore }}</p>

<p><strong>Membres:</strong> {{ faction.membres }}</p>

<div class="cards">
    <img src="{{ asset('images/Factions/' ~ faction.slug ~ '.png') }}" alt="{{ faction.nom }}">
</div>

<a href="{{ path('app_faction') }}">← Retour à la liste des factions</a>
{% endblock %}
