<!DOCTYPE html> 
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Project San Diego{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css?v=5') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Share+Tech+Mono&display=swap" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header class="main-header">
        <section class="tete-site">
            <div class="logo-area">
                <a href="{{ path('app_home_page') }}" class="btn-menu"><h1><img src="{{ asset('images/Surfy.gif') }}" alt="Logo Project San Diego" class="logo"> Project San Diego</h1></a>   
            </div>

            <nav class="main-nav">
                <ul>
                    <li><a href="{{ path('app_home_page') }}">Accueil</a></li>
                    <li><a href="{{ path('app_faction') }}">Factions</a></li>
                    <li><a href="{{ path('app_reglement') }}">Règlement</a></li>
                    <li><a href="{{ path('app_equipe_moderation') }}">Équipe</a></li>
                    <li><a href="{{ path('app_FAQ') }}">Faq</a></li>
                                       <li><a href="{{ path('app_jouer') }}">Jouer</a></li>
                </ul>
            </nav>
        </section>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer class="main-footer">
        <p>&copy; {{ "now"|date("Y") }} Project San Diego | by Duky | <a href="https://discord.gg/UMgQCRMh5B" class="btn-menu">Discord</a></p> 
        
    </footer>

    {% block javascripts %}{% endblock %}
</body>
</html>
