{% extends 'base.html.twig' %}

{% block title %}Modération - Project San Diego{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/moderation.css') }}">
{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h1>Présentation de l'administration</h1>

<h2>Rôle et responsabilités</h2>
<p>L'administration est chargée de surveiller et de gérer les utilisateurs sur le plateau de jeu. 
Leur objectif principal est de garantir que les règles mises en places sont respectées, ils se doivent de maintenir un environnement sûr et accueillant pour tous les joueurs.</p>
<br><p>Si vous avec une réclamation a faire, veuillez ouvrir un ticket, et ne pas contacter directement l'equipe de modération</P>

<h2>Membres de l'équipe</h2>
<ul>
    <li><strong>Benkenobi</strong> <img src="{{asset('Images/moderation/Ben.png')}}" alt="Benkenobi">- Fondateur du projet</li>
    <li><strong>Lixtorien</strong> <img src="{{asset('Images/moderation/Lixto.png') }}" alt="Lixtorien">- Fondateur du projet / Gérant Rp Faction</li>
    <li><strong>Dukynow</strong> <img src="{{ asset('Images/moderation/Duky.png') }}" alt="Dukynow"> - Chef modération / Gérant Rp Civil</li>
    <li><strong>Et autres</strong> - Modérateur</li>
</ul>
<p>l'administration peut changer a tout moment. Ils peuvent donc changer de poste ou quitter l'équipe.</p>

<h2>Engagement envers la communauté</h2>
<p>l'administration est composés de membres bénévoles, passionnés par l'univers du Roleplay et le Post-Apocalyptique, il se peut qu'ils prennent les mauvaises décisions.</P> 
<P>Dans ce cas vous etes invités a ouvrir un ticket via le salon #ticket sur notre serveur discord</p>

<h2>Comment Rejoindre l'administration ?</h2>
</div>
{% endblock %}
